streamlit
langchain
langchain-community
langchain-text-splitters
chromadb
sentence-transformers
pypdf
docx2txt
groq
requests
beautifulsoup4
wikipedia-api
duckduckgo-search
pandas
plotly
tldextract
python-dotenv
rank-bm25
scikit-learn
numpy